.attraction-page-container {
  max-width: 1300px;
  margin: 10px auto;
  text-align: center;
  .attraction-card {
    max-width: 800px;
    margin: auto;
  }
  .description {
    white-space: pre-wrap;
    font-size: 18px;
  }
  .logo-container {
    width:100%;
    margin: 15px auto;
    img {
      max-width: 100px;

    }
  }
  .promotions-table {
    margin: 10px auto;
    td {
      vertical-align: middle;
    }
    .promotion-actions {
      width:130px;
    }
  }

}
