@import "~compass-mixins";

$font: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$icon-font-path: "~@blueprintjs/core/resources/icons";
$tablet-width: 768px;
$desktop-width: 1024px;
$pt-navbar-height:120px;

@import "modules/all";
