.home-content {
  max-width: 1300px;
  display: flex;
  overflow: scroll;
  min-height: 50px;
  margin: 10px auto;

  > * {
    flex: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.home-row {
  width: 100%;
  flex:1;

  .pt-spinner {
    margin: 5px 50%;
  }
}
